* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow: scroll;
}

/*HEADER SECTION*/
header {
    padding: 20px;
    background-color: lightskyblue;
}

header h1 {
    display: inline;
}

header a {
    text-decoration: none;
    color: grey;
}

header nav {
    margin: 7px 0;
    float: right;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li{
    display: inline;
    text-decoration: underline;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*HEADER SECTION ENDS*/



/*WORK-PORTFOLIO SECTION*/



.my-work ,.about-me h2 {
    color:black;
    padding: 20px 20px;
    text-align: center;
    text-decoration: underline;
}  

.about-me p {
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


/*FOOTER SECTION*/

footer {
    background:lightskyblue;
    width: 100%;
    padding: 35px 35px;
}
/*FOOTER SECTION ENDS*/

